body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    font-family: helvetica, arial, sans-serif;
    background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0.5), rgba(0, 0, 255, 0.5));
    background-size: cover;
    padding-bottom: 20%;
}


/* Above form */

h1 {
    grid-column: 1 / 13;
    grid-row: auto;
    text-align: center;
}

#intro {
    grid-column: 4 / 10;
}


/* Within form */

.container {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 1.5em;
    grid-column: 4 / 10;
    grid-row: auto;
    transition: 1s;
}

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

label {
    padding: 8px 12px;
}

select {
    padding: 8px 4px;
    border: none;
    border-radius: 0.2em;
}

.left-4 {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mid-4 {
    grid-column: 5 / 9;
}

.right-4 {
    grid-column: 9 / 13;
}

.heading {
    font-size: 1.5em;
    padding: 4px 12px 16px 12px;
    text-align: center;
}

.button {
    background-color: cadetblue;
    font-size: 1.5em;
    padding: 0.5em 0em;
    border-color: transparent;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}


/* Displaying result with class container */

.flex-column {
    display: flex;
    flex-direction: column;
}

#result>.result-item {
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    background-color: lightcoral;
    text-align: center;
}

.right-8 {
    grid-column: 5 / 13;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-8 p {
    font-size: 3em;
}

#result h2 {
    text-align: center;
}

#result p {
    text-align: center;
}